* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
}

.todoList {
  width: 550px;
  height: 700px;
  border-radius: 20px;
  background-color: #e3e9ff;
  box-shadow: -1px 4px 37px 27px rgba(176, 176, 176, 0.71);
  -webkit-box-shadow: -1px 4px 37px 27px rgba(176, 176, 176, 0.71);
  -moz-box-shadow: -1px 4px 37px 27px rgba(176, 176, 176, 0.71);
}
